#textBody {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}


#backgroundBody {
    
        margin: 0;
        width: 100%;
        height: 100vh;
        background: linear-gradient(45deg, /*#e73c7e, #ee7752, #152a7c, #23d5ab*/ #23d5ab, #152a7c, #ee7752, #e73c7e);  
        background-size: 500% 500%;
        animation: animeBG 10s ease infinite;
        animation-direction: alternate;
    }
    
    @keyframes animeBG {
        0% {background-position: 0%;}
        100% {background-position: 100%;}
    
    
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: top;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;

    background: #120e07;
    color: #ffffff;
}

.fa:hover {
    opacity: 0.7;
}

*{
    box-sizing: border-box;
    margin: 10;
    padding: 0;
}
body{
    color: #ffffff;
    background-color: #ffffff;
    
}

#contact{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.title{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}
.contact-area{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cont-left{
    width: 40%;
    padding: 3rem;
}
.cont-top{
    padding-bottom: 2rem;
    border-bottom: 1px solid #ffffff;
}
.cont-element{
    margin: 0.5rem 0;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}
.cont-element i{
    color: #ffffff;
    padding: 1rem;
    border-radius: 50%;
    border: 2px solid #ffffff;
    font-size: 1.5rem;
    margin-right: 1rem;
    transition: all 0.4s ease;
}
.cont-element:hover i{
    background-color: #ffffff;
    color: #011627;
}
.cont-element a{
    color: #ffffff;
    text-decoration: none;
}
.cont-bottom{
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cont-bottom a{
    color: #ffffff;
    width: 4rem;
    height: 4rem;
    line-height: 2rem;
    text-align: center;
    font-size: 1.5rem;
    background-color: #181818;
    border-radius: 50%;
}
.cont-bottom a:hover{
    color: #181818;
    background-color: #ffffff;
}

.cont-right{
    width: 60%;
    padding: 2rem;
}
.cont-right form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cont-right form input, textarea, button{
    width: 100%;
    margin: 1rem 0;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: 1px solid #ffffff;
    color: #ffffff; 
    transition: all 0.4s ease;
}
.cont-right form button{
    background-color: #ffffff;
    color: #011627;
    cursor: pointer;
}
.cont-right form button:hover{
    background-color: #011627;
    color: #ffffff;
}
.cont-right form input:hover, textarea:hover{
    color: #011627;
    background-color: #ffffff;
}
.cont-right form input:focus, textarea:focus{
    color: #011627;
    background-color: #ffffff;
}
